.jlb-assessment-page {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}

.jlb-assessment-page .body-container {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.jlb-assessment-page .body-container .hero {
  position: relative;
}

.jlb-assessment-page .body-container .hero img {
  width: 100%;
  height: auto;
}

.jlb-assessment-page .body-container .hero div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jlb-assessment-page .body-container .hero div h1, .jlb-assessment-page .body-container .hero div h2 {
  text-transform: uppercase;
  font-weight: 900;
}

.jlb-assessment-page .body-container .hero div h1 {
  margin: 0;
  line-height: .5em;
  font-size: 3.5em;
  color: #de041c;
}

.jlb-assessment-page .body-container .hero div h2, .jlb-assessment-page .body-container .hero div p {
  color: #fff;
}

.jlb-assessment-page .body-container .hero div p {
  text-align: center;
  width: 75%;
  font-size: .5em;
}

.jlb-assessment-page .body-container .red-line {
  height: 7vh;
  background: #de041c;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-1 {
  background: white;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-1 img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-1 img.load {
  visibility: visible;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-2 img {
  visibility: hidden;
  width: 100%;
  height: auto !important;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-2 img.load {
  visibility: visible;
}

.jlb-assessment-page .body-container .content-container .content-wrap .collage-container .images-2 .collage-5 {
  width: 60%;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../assets/SPLASH WATERMARK.png");
  background-size: cover;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header, .jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-body {
  height: 50%;
  position: relative;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title h1, .jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title h2 {
  font-weight: 900;
  text-transform: uppercase;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title h1 {
  color: #de041c;
  font-size: 2em;
  line-height: .5em;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title h2 {
  font-size: 1.25em;
  line-height: .5em;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-header .info-title.load {
  visibility: visible;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-body {
  border-top: 2px solid black;
  visibility: hidden;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-body p {
  font-size: .75em;
}

.jlb-assessment-page .body-container .content-container .content-wrap .info-container .info-body.load {
  visibility: visible;
}

.jlb-assessment-page .body-container .video-container {
  width: 40%;
  position: absolute;
  top: 53.5%;
  left: 49%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), 0 1px 20px 0 rgba(0, 0, 0, 0.4);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedTwo {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedThree {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
